on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Hello world action step
        id: hello
        uses: ./
        with:
          repository: '172232502/misc'
      # Use the output from the `hello` step
      - name: Get the output data
        run: echo "The next version is ${{ steps.hello.outputs.next_version }}"
